.MainServices {
    margin: auto;
    width: 80%;
    padding: auto;
}

.accordion{
    padding-top: 1%;
    padding-bottom: 5%;
}

.textAcc{
    font-size: large;
    padding-top: 3%;
}

.sectionDetails {
    background-color: #caf0f8;
}

