.MainAbout {
    margin: auto;
    width: 80%;
    padding: auto;
}

.row1{
    padding-top: 2%;
    padding-bottom: 2%;
}

.row1 .divImage{
    opacity: 1.0;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sharonImage {
    width: 80%;
    padding-top: 5%;
    padding-bottom: 10%;
    border-radius: 50% !important;
    transition: transform .2s;
}

.sharonImage:hover {
    opacity: 0.8;
    transform: scale(1.1);
}


.textAbout-p1{
    font-size: large;
    padding: 4%;
    align-items: center;
    vertical-align: middle;
}


.textAbout-p1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionDetails{
    background-color: #caf0f8;
}

.ipcCertification{
    height: 200px;
    width: 200px;
}



