.navbar {
    background-color: transparent !important;
    text-align: center;
    display: flex;
}

.container-fluid{
    font-size: 23px;
    font-weight: bold;
}

.nav-link{
    color:#004AAD !important;
    text-decoration: none;
}

.navbar-nav a.nav-link {
    font-family: 'Roboto', sans-serif;
    padding: 0px !important;
}

ul.navbar-nav li.nav-item {
    margin: 0 20px;
}

ul.navbar-nav .nav-item:after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    transition: width .5s ease, background-color .5s ease;
}

.navbar-nav .nav-item:hover:after {
    width: 100%;
    background: #004AAD !important;
}

li,
li a {
    display: inline;
    cursor: pointer;
    height: 100%;
    text-decoration: none;
    color: #004AAD;
    
}

.closeIcon{
    font-size: xx-large;
    text-align: center;
    align-items: center;
}

.linkedin{
    padding-bottom: 50px;
}



.container-fluid .navbar-icon-language {
    float: right !important;
    float: left !important;
}